.container{
    margin-top: 3%;
    width: 400px;
    border: ridge 1.5px white;
    padding: 20px;

}

#register{
    padding-top: 100px;
    background: linear-gradient(180deg, #191a1a, #2480c7);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 3000px 2500px}

    label{
        font-weight: bold
    }